*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

::-moz-selection {
  color: #F0B90B;
  background: #181A20;
}

::selection {
  color: #F0B90B;
  background: #181A20;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: #181A20;
}

::-webkit-scrollbar-thumb {
  background: #F0B90B;
  -webkit-border-radius: 1ex;
}

::-webkit-resizer html {
  background: #323042;
}

.hide {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #323042;
  overflow-x: hidden;
  font-size: 1.2rem;
}

h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #F0B90B;
  font-style: italic;
}


.social-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #181A20e6;
  -webkit-border-top-right-radius: 16px;
  -moz-border-radius-topright: 16px;
  border-top-right-radius: 16px;
  z-index: 998;
}

.social-bar img {
  margin-top: 1rem;
  width: 24px;
  transition: filter .5s ease;
}

.social-bar img:hover {
  filter: drop-shadow(0px 0px 2px #F0B90B) drop-shadow(0px 0px 4px #F0B90B) drop-shadow(0px 0px 8px #F0B90B) drop-shadow(0px 0px 16px #F0B90B);
}

#top-btn {
  position: fixed;
  opacity: 0;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 0;
  background-image: url("https://res.cloudinary.com/ddsjijzga/image/upload/v1666313045/website/btntop_qxl5sd.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px #272634) drop-shadow(0px 0px 20px #272634);
  transition: filter .5s ease, opacity .8s ease-in-out, height .8s ease-in-out;
  z-index: 998;
}

#top-btn:hover {
  filter: drop-shadow(0px 0px 10px #F0B90B) drop-shadow(0px 0px 20px #F0B90B);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #EAECEF;
  background: #181A20;
  z-index: 999;
}

#header .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 96rem;
  overflow: hidden;
}

#header .logo {
  display: flex;
}

#header .logo a {
  display: flex;
  align-items: center;
  font-size: 1.825rem;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
  color: #F0B90B;
  transition: text-shadow .5s ease;
}

#header .logo a:hover img {
  animation: logo 1.5s linear infinite;
}

#header .logo a img {
  margin-right: .5rem;
  width: 3rem;
}

#header .logo a span {
  position: relative;
  margin-left: .5rem;
  transition: all .5s ease;
}

#header .logo a:hover span {
  letter-spacing: .5rem;
  filter: drop-shadow(0px 0px 8px #fcce03) drop-shadow(0px 0px 40px #fcce03);
}

#header .nav {
  display: flex;
  align-items: center;
  color: white;
}

#header .nav ul {
  display: flex;
}

#header .nav ul li {
  position: relative;
  display: inline;
  overflow: hidden;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

#header .nav ul li::before {
  content: "";
  background: #181A20;
  transition: all 2s ease;
}

#header .nav ul li:hover::before,
#header .nav ul li.active::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(240, 185, 11);
  background: linear-gradient(0deg, rgba(240, 185, 11, 0.6) 0%, rgba(240, 185, 11, 1) 100%);
  animation: menu-hover 4s linear infinite;
}

#header .nav ul li::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #181A20;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: all 2s ease;
}

#header .nav ul li:hover::after {
  inset: .175rem;
}

#header .nav ul li.active::after {
  inset: .175rem;
}

#header .nav ul li a {
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.025rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #EAECEF;
  z-index: 1;
}

#header .nav ul li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgb(24, 26, 32);
  background: radial-gradient(circle, rgba(24, 26, 32, 1) 25%, #F0B90B 50%, rgba(24, 26, 32, 1) 60%);
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
  transform: translate(-50%, -50%);
  transition: all .1s ease;
  z-index: -1;
  opacity: 0;
}

#header .nav ul li a:active::before {
  width: 110%;
  height: 110%;
  opacity: 1;
}

#header .mobile-nav {
  display: none;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

#header .mobile-nav span {
  position: relative;
  width: 40px;
  height: 5px;
  background: #EAECEF;
  border-radius: 5px;
}

#header .mobile-nav span::before,
#header .mobile-nav span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  transform: translateY(-10px);
}

#header .mobile-nav span::after {
  transform: translateY(10px);
}

#content {
  position: relative;
  padding-top: 5.2rem;
  max-width: 96rem;
  font-family: "Open Sans", sans-serif;
}

#welcome {
  position: relative;
  overflow: hidden;
}

#welcome h1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 15%;
  font-size: 3rem;
  font-weight: 600;
  color: #EAECEF;
}

#welcome h1 .left {
  padding-left: 2rem;
}

#welcome h1 .name {
  display: flex;
  font-size: 4rem;
  font-style: italic;
  color: #F0B90B;
}

#welcome:hover h1 .name span:nth-child(1),
#welcome:hover h1 .name span:nth-child(2),
#welcome:hover h1 .name span:nth-child(3),
#welcome:hover h1 .name span:nth-child(4),
#welcome:hover h1 .name span:nth-child(5),
#welcome:hover h1 .name span:nth-child(6),
#welcome:hover h1 .name span:nth-child(7),
#welcome:hover h1 .name span:nth-child(8),
#welcome:hover h1 .name span:nth-child(9),
#welcome:hover h1 .name span:nth-child(10) {
  animation: rotating-x 1s linear;
}

#welcome:hover h1 .name span:nth-child(2) {
  animation-delay: .05s;
}

#welcome:hover h1 .name span:nth-child(3) {
  animation-delay: .1s;
}

#welcome:hover h1 .name span:nth-child(4) {
  animation-delay: .15s;
}

#welcome:hover h1 .name span:nth-child(5) {
  animation-delay: .2s;
}

#welcome:hover h1 .name span:nth-child(6) {
  animation-delay: .25s;
}

#welcome:hover h1 .name span:nth-child(7) {
  animation-delay: .3s;
}

#welcome:hover h1 .name span:nth-child(8) {
  animation-delay: .35s;
}

#welcome:hover h1 .name span:nth-child(9) {
  animation-delay: .4s;
}

#welcome:hover h1 .name span:nth-child(10) {
  animation-delay: .45s;
}

#welcome h1 .name .separate {
  margin-left: 1.5rem;
}

#welcome h1 .right {
  margin-left: auto;
  padding-right: 2rem;
}
#welcome .ring {
  display: block;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: 2rem;
  width: 50vw;
  height: 50vw;
  animation: spinning 600s linear infinite;
}

#welcome .gem {
  position: absolute;
  top: 34%;
  left: 52.5%;
  width: calc(30% * 1.364);
  height: 30%;
  animation: pulsating 3s linear infinite;
}
#dyor {
  background: #272634;
  padding: 2rem;
  color: #EAECEF;
}

#dyor .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 67.5rem;
}

#dyor .container strong {
  color: #F0B90B;
}

#dyor .container .left {
  flex: 3;
  margin-right: 2rem;
}

#dyor .container h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#dyor .container .right {
  flex: 1;
  margin-left: 2rem;
}

#dyor .container .right ul li {
  margin-bottom: .5rem;
  transition: color .5s ease;
}

#dyor .container .right ul li:hover {
  color: #F0B90B;
}

#quest .container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 4rem 0;
}

#quest .left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quest .left img {
  height: 80%;
  filter: drop-shadow(0px 0px 10px #F0B90B);
}

#quest:hover .left img {
  animation: logo 2s linear infinite;
}

#quest .right {
  flex: 2;
  padding: 0 1rem;
  color: #EAECEF;
}

#quest .right p {
  margin-bottom: 1rem;
}

#quest .right p strong {
  color: #F0B90B;
}

#socials {
  padding: 2rem 0;
  background: #272634;
}

#socials h2 {
  text-align: center;
}

#socials .container {
  margin: 0 auto;
  max-width: 67.5rem;
}

#socials ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 0;
}

#socials ul img {
  height: 4rem;
  transition: filter .5s ease;
}

#socials ul img:hover {
  filter: drop-shadow(0px 0px 4px #F0B90B) drop-shadow(0px 0px 8px #F0B90B) drop-shadow(0px 0px 16px #F0B90B) drop-shadow(0px 0px 32px #F0B90B);
}

#tokenomics {
  color: #F0B90B;
  padding: 4rem 2rem;
}

#tokenomics .container {
  display: flex;
  margin: 0 auto;
  max-width: 67.5rem;
}

#tokenomics .container .left {
  flex: 2;
  color: #EAECEF;
}

#tokenomics .container .left h3 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

#tokenomics .container .left p {
  margin-bottom: 1rem;
}

#tokenomics .container .left p strong {
  color: #F0B90B;
}

#tokenomics .container .left ul {
  margin-top: 2rem;
  columns: 2;
}

#tokenomics .container .left ul li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

#tokenomics .container .left ul li strong,
#tokenomics .container .left ul li span {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #F0B90B;
}

#tokenomics .container .left ul li:nth-child(5) strong::first-letter {
  color: transparent;
}

#tokenomics .container .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

#tokenomics .container .right img {
  height: 90%;
  filter: drop-shadow(0px 0px 10px #F0B90B);
}

#tokenomics:hover .container .right img {
  animation: logo 2s linear infinite;
}

#roadmap {
  padding: 4rem 0;
  background: #272634;
  overflow: hidden;
  font-size: 1rem;
}

#roadmap h2 {
  margin-bottom: 4rem;
  text-align: center;
}

#roadmap .container {
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
}

#roadmap .steps {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  width: 100%;
}

#roadmap .steps .step {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  padding: 2rem 1.5rem;
  background: #F0B90B;
  color: #EAECEF;
  border-radius: 4%;
  animation: pulse 2s linear infinite;
  z-index: 1;
}

#roadmap .steps .step h3 {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#roadmap .steps .step h3::before,
#roadmap .steps .step h3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/ddsjijzga/image/upload/v1666314265/website/roadmap-title-left_linzwb.svg");
  background-repeat: no-repeat;
  background-size: 24%;
  background-position: left center;
  transform: translate(-50%, -50%);
}

#roadmap .steps .step h3::after {
  background-image: url("https://res.cloudinary.com/ddsjijzga/image/upload/v1666314265/website/roadmap-title-right_jub6b3.svg");
  background-position: right center;
}

#roadmap .steps .step li {
  margin-bottom: 1rem;
}

#roadmap .steps .step li strong {
  color: #F0B90B;
}

#roadmap .steps .done {
  animation: none;
  filter: drop-shadow(0px 0px 10px #F0B90B) drop-shadow(0px 0px 30px #F0B90B);
}

#roadmap ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96%;
  height: 96%;
  background: #272634;
  transform: translate(-50%, -50%);
  clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
  z-index: -1;
}

#presale {
  padding: 4rem 0;
  text-align: center;
  color: #EAECEF;
}

#presale strong {
  font-weight: bold;
  color: #F0B90B;
}

#presale .info {
  margin: 0 auto;
  width: fit-content;
}

#presale .info h3 {
  font-size: 2rem;
}

#presale .info ul {
  margin: 2rem;
  columns: 2;
  text-align: center;
}

#presale .info ul li {
  text-align: center;
}

#presale .timer {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: center;
  margin: 0 auto;
  color: #F0B90B;
}

#presale .timer div {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  filter: none;
  color: #EAECEF;
}

#presale .timer div span {
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
  color: #F0B90B;
  filter: drop-shadow(0px 0px 20px #F0B90B);
}

#presale .live {
  display: none;
  font-size: 2.5rem;
}

#presale .live a {
  position: relative;
}

#presale .live a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: #F0B90B;
  border-radius: 6px;
  transform: scaleX(0);
  transform-origin: bottom right;
}

#presale:hover .live a::before {
  transform-origin: bottom left;
  animation: underline 2s ease-in-out infinite;
}

#partners {
  padding: 4rem 1rem 8rem;
  background: #272634;
  font-size: 2rem;
  color: white;
}

#partners ul {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 0 auto;
  max-width: 67.5rem;
  text-align: center;
}

#partners ul img {
  filter: grayscale(100%) brightness(0.5);
  transition: all .5s ease;
}

#partners ul img:hover {
  filter: grayscale(100%) brightness(0.3) drop-shadow(0px 0px 4px #F0B90B) drop-shadow(0px 0px 8px #F0B90B) drop-shadow(0px 0px 16px #F0B90B);
}

#partners h2 {
  margin-bottom: 6rem;
  text-align: center;
}

.ca {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.2rem;
  color: #EAECEF;
  background: #181A20;
}

.ca a {
  position: relative;
}

.ca strong {
  position: relative;
  font-weight: bold;
  color: #F0B90B;
}

.ca strong::before {
  content: "";
  position: absolute;
  bottom: -.25rem;
  width: 100%;
  height: 2px;
  background: #F0B90B;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.ca:hover strong::before {
  transform-origin: bottom left;
  animation: underline 2s ease-in-out infinite;
}

.ca span {
  content: "Copied!";
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  text-align: left;
  font-weight: bold;
  color: #F0B90B;
  background: #181A20;
  transition: width 1s ease;
  overflow: hidden;
}

#footer {
  background: #6F7C85;
}

#footer .container {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 67.5rem;
  text-align: center;
  font-weight: 600;
  color: #181A20;
  background-image: 
    url("https://res.cloudinary.com/ddsjijzga/image/upload/v1666314911/website/footer-left_cmyrjt.svg"), 
    url("https://res.cloudinary.com/ddsjijzga/image/upload/v1666314911/website/footer-right_jldcdl.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 20% center, 80% center;
  background-size: 13%;
}

#footer h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

sand {
  position: absolute;
  pointer-events: none;
  background: #DAB658;
  border-radius: 100%;
  box-shadow: 5px 5px 30px #FFDC73,
    -5px -5px 30px #FFDC73;
  transform: translate(-50%, -50%);
  animation: fade 1s infinite;
  z-index: 999;
}

@keyframes logo {
  0% {
    transform: rotate3d(0) scale(1);
  }

  25% {
    transform: rotate3d(1, 1, 1, -6deg) scale(1.05);
  }

  50% {
    transform: rotate3d(1, 1, 1, -0deg) scale(1);
  }

  75% {
    transform: rotate3d(1, 1, 1, 3deg) scale(1.025);
  }

  100% {
    transform: rotate3d(0) scale(1);
  }
}

@keyframes pulsating {
  0% {
    filter: drop-shadow(0px 0px 30px #F0B90B) drop-shadow(0px 0px 60px #F0B90B) drop-shadow(0px 0px 120px #F0B90B);
  }

  50% {
    filter: drop-shadow(0px 0px 60px #F0B90B) drop-shadow(0px 0px 120px #F0B90B) drop-shadow(0px 0px 240px #F0B90B);
  }

  100% {
    filter: drop-shadow(0px 0px 30px #F0B90B) drop-shadow(0px 0px 60px #F0B90B) drop-shadow(0px 0px 120px #F0B90B);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 10px #F0B90B80;
    box-shadow: 0 0 0 10px #F0B90B80;
  }

  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
}

@keyframes rotating-x {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes menu-hover {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}

@keyframes counter-spinning {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes underline {
  to {
    transform: scaleX(1);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1280px) {
  #header .nav {
    display: none;
    margin: 0;
  }

  #header .mobile-nav {
    display: flex;
  }
  .social-bar {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  body {
    font-size: 1rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  h5 {
    padding: 1rem;
    font-size: 1rem;
    overflow-wrap: break-word;
  }

  #top-btn {
    bottom: .5rem;
    right: .5rem;
    width: 40px;
    height: 40px;
  }

  #top-btn:hover {
    filter: none;
  }

  #content {
    margin: 0;
    padding: 3.6rem 0 0;
    overflow-x: hidden;
  }

  #header .container {
    padding: .5rem;
  }

  #header .logo a {
    font-size: 1.5rem;
  }

  #header .logo a img {
    height: 1.5rem;
    margin: 0;
  }

  #header .logo a:hover img {
    animation: none;
  }

  #header .logo a span {
    margin-left: .3rem;
  }

  #header .logo a:hover span {
    letter-spacing: normal;
    filter: none;
  }
  #welcome {
    margin: 0;
    padding-bottom: 1rem;
  }

  #welcome .ring,
  #welcome .inner,
  #welcome .inner .gem {
    animation: none;
  }

  #welcome .ring {
    margin: 0;
    padding: 0;
  }

  #welcome .gem {
    left: 76%;
    animation: none;
    filter: drop-shadow(0px 0px 10px #F0B90B) drop-shadow(0px 0px 40px #F0B90B) drop-shadow(0px 0px 80px #F0B90B);
  }

  #welcome h1 {
    left: 1rem;
    font-size: 1.5rem;
    letter-spacing: normal;
    z-index: 1;
  }

  #welcome h1 .name {
    font-size: 2rem;
  }

  #welcome:hover h1 .name span {
    animation: none;
  }

  #welcome h1 .name .separate {
    margin-left: 1rem;
  }

  #welcome .ring {
    transform: translateX(140%);
  }

  #dyor {
    padding: 3rem 1rem;
  }

  #dyor .container .left h3 {
    text-align: center;
  }

  #dyor .container .left,
  #dyor .container .right {
    margin: 0;
    min-width: 100%;
    margin-bottom: 2rem;
  }

  #dyor .container .right {
    margin-bottom: 0;
  }

  #dyor .container .right ul {
    columns: 2;
  }

  #quest {
    padding: 3rem 1rem;
  }

  #quest .container {
    margin: 0;
    padding: 0;
  }

  #quest .left {
    display: none;
  }

  #quest .right {
    padding: 0;
  }

  #quest .right h2 {
    margin-bottom: .5rem;
  }

  #socials ul {
    padding: 1rem;
  }

  #socials ul img {
    height: 2rem;
  }

  #tokenomics {
    margin: 0;
    padding: 0;
  }

  #tokenomics .container {
    padding: 3rem 1rem;
  }

  #tokenomics .container .left {
    font-size: 1rem !important;
  }

  #tokenomics .container .left h2 {
    margin-bottom: 1rem;
  }

  #tokenomics .container .left ul li h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  #tokenomics .container .left ul li strong {
    font-size: 1.5rem;
  }

  #tokenomics .container .left ul li span {
    display: none;
  }

  #tokenomics .container .right {
    display: none;
  }

  #roadmap {
    margin: 0;
    padding: 3rem 0;
  }

  #roadmap h2 {
    margin-bottom: 2rem;
  }

  #roadmap .steps .step {
    animation: none;
  }

  #roadmap .container .steps .step h3 {
    font-size: 1.5rem;
  }

  #presale,
  #partners {
    padding: 3rem 1rem;
  }

  #presale .info h3 {
    font-size: 1.5rem;
  }

  #presale .timer {
    grid-gap: .5rem;
  }

  #presale .timer div {
    margin: 0;
    font-size: 1.5rem;
  }

  #presale .timer div {
    font-size: 1rem;
  }

  #presale .timer div span {
    font-size: 2rem;
  }

  #partners h2 {
    margin-bottom: 1rem;
  }

  #partners ul {
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  #footer .container {
    background-image: none;
  }

  #footer .container h3 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
  }
}